<div class="contacts-list">
  <div class="btn btn-success" ng-click="createContact()">
    <span class="glyphicon glyphicon-plus"></span> Contact
  </div>
  <input type="text" class="form-control" placeholder="Name" ng-model="contactName">
  <input type="text" class="form-control" placeholder="Number" ng-model="contactNumber">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="contact in contacts" ng-class="{active: contact._id == activeContact._id}" ng-click="activateContact()">
      <p><strong>{{contact.name}}</strong></p>
      <p>{{contact.number}}</p>
    </li>
  </ul>
</div>
